@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 0.5px;
  height: 0.5px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

@media screen  and (max-width: 768px)  {
  body {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 431px) and (max-height: 933px) {
  body {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
  }
}
